*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(135deg, #050b18, #0b1b35, #071426);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease;
}

/* Navbar */

.navbar{
    padding: 15px 0;
}

.nav-item{
    margin-left: 15%;
}

.nav-item a{
    color: #38bdf8;
    font-weight: bold;
    transition: 0.3s ease;
}

.nav-item a:hover{
    transform: translateY(-3px);
    text-shadow: 0 0 10px #38bdf8;
    color: rgb(181, 236, 238);
    
}


#darktheme{
    color: #38bdf8;
    margin-right: 8%;
    border: 1px solid #38bdf8;
    background: transparent;
    padding: 10px 18px;
    border-radius: 15px;
    width: 150px;
    white-space: nowrap;
    transition: 0.3s ease;
}

#darktheme:hover{
    background: #38bdf8;
    color: #08111f;
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.5);
}

/* Hero Section */

.back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    min-height: 650px;
}

.head1{
    padding: 20px;
    margin-top: 80px;
    width: 50%;
    animation: hero 1.2s ease forwards;
}

@keyframes hero {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.head1 h1{
    color: white;
    font-weight: 700;
    font-size: 58px;
    font-style: italic;

}

.head1 h2{
    color: white;
    line-height: 1.5;
    font-weight: bold;
}

.head1 span{
    color: #38bdf8;
}

.head1 p{
    color: #a9b7c9;
    max-width: 500px;
    line-height: 1.7;
}

.h-button{
    margin-top: 25px;
}

.h-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #2563eb;
    padding: 12px 20px;
    border-radius: 8px;
    margin-right: 10px;
    font-weight: bold;
    
}

.h-btn:hover{
    background: #38bdf8;
    color: #08111f;
   
}

.s-btn{
      text-decoration: none;
    background: transparent;
    border: 1px solid #38bdf8;
    color: #38bdf8;
      padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
  
}

.s-btn:hover{
     background: #38bdf8;
    color: #08111f;
}

.icons{

    margin-top: 25px;
}

.icons a {
    color: #38bdf8;
    font-size: 32px;
    margin-right: 20px;
    transition: 0.3s ease;
}

.icons a:hover{
    transform: translateY(-7px);
    text-shadow: 0 0 20px #38bdf8;
}

.image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 100%;
    max-width: 550px;
    height: auto;
    margin-top: 50px;

}


/* About */

.about{
    padding: 50px 8%;
}


.head2{
    text-align: center;
    animation: section 1.2s ease both;
}

@keyframes section {
    from{
        opacity: 0;
        transform: translateY(60px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.head2 h1,
.my{
    color: #38bdf8;
    font-weight: 700;
    font-size: 60px;
}

.head2 p{
    color: #a9b7c9;
    max-width: 850px;
    margin: 20px auto;
    line-height: 1.8;
}

.a-cards{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.a-box{
    width: 280px;
    padding: 25px;
    text-align: center;
    background: #101d30;
    border: 1px solid #1e3a5f;
    border-radius: 15px;
    transition: 0.3s ease;
}

.a-box:hover{
    transform: translateY(-8px);
    border-color: #38bdf8;
    box-shadow: 0 10px 30px rgba(56,189,248,0.2);
}

.a-box i{
    font-size: 40px;
    color: #38bdf8;
    margin-bottom: 15px;
}

.a-box h3{
    color: #38bdf8;
}

.a-box p{
    color: #a9b7c9;
    line-height: 1.6;
}


/* Skills */

#skills{
   padding: 80px 8%;

}

.my{
   text-align: center;
   margin-bottom: 40px;
}

#skil{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.s-card{
    width: 250px;
    background: #101d30;
    border: 1px solid #1e3a5f;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    transition: 0.4s ease;
}

.s-card:hover{
    transform: translateY(-8px);
    border-color: #38bdf8;
    box-shadow: 0 10px 30px rgba(56,189, 248, 0.2);
}


.s-card img{
    width: 110px;
    height: 110px;
    object-fit: contain;
}

.s-card h2{
    color: #38bdf8;
    margin: 15px 0;
}

.progress{
    height: 10px;
    background: #172b46;
    border-radius: 20px;
    overflow: hidden;
}


.p-bar{
    height: 100%;
    background: #38bdf8;
    color: #08111f;
    font-size: 9px;
    font-weight: bold;
}

.h-bar{
    width: 90%;
}

.c-bar{
    width: 90%;
}

.j-bar{
    width: 70%;
}

/* Services */


.services{
    padding: 80px 8%;
    text-align: center;
}

.services h1,
.projects h1,
.learning h1,
.contact h1{
    color: #38bdf8;
    font-size: 60px;
    margin-bottom: 15px;
}

.s-text{
    color: #a9b7c9;
    max-width: 650px;
    margin: auto;
    line-height: 1.7;
    
}

.s-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 45px;
}

.service-card{
    width: 280px;
    padding: 30px 20px;
    background: #101d30;
    border: 1px solid #1e3a5f;
    border-radius: 15px;
    transition: 0.3s ease;
}

.service-card:hover{
    transform: translateY(-8px);
    border-color: #38bdf8;
    box-shadow: 0 10px 30px rgba(56, 189,248,0.2);
}

.service-card i{
    font-size: 45px;
    color: #38bdf8;
    margin-bottom: 20px;
}

.service-card h3{
    color: #38bdf8;
}

.service-card p{
    color: #a9b7c9;
    line-height: 1.6;
}

/* Projects */

.projects{
 padding: 80px 8%;
 text-align: center;

}


.projects-text{
    color: #a9b7c9;
    margin-bottom: 40px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.p-card{
    width: 320px;
    background: #101d30;
    border: 1px solid #1e3a5f;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s ease;
}

.p-card:hover{
    transform: translateY(-08px) scale(1.02);
    border-color: #38bdf8;
        box-shadow: 0 15px 35px rgba(56, 189, 248, 0.25);
}

.prjoect-image{
    overflow: hidden;
}

.p-card img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    transition: 0.5s ease;
}

.p-card img:hover{
    transform: scale(1.08);
}

.info{
    padding: 20px;
    text-align: left;
}

.info h3{
    color: #38bdf8;
   
}

.info p{
    color: #a9b7c9;
    line-height: 1.6;
}

.tags{
    margin: 15px 0;
}

.tags span{
    display: inline-block;
    background: #172b46;
    color: #38bdf8;
    padding: 5px 9px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 11px;
}

.project-btn{
    display: flex;
    gap: 8px;
}

.p-btn,
.git-btn{
    display: inline-block;
    padding: 9px 13px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.p-btn{
    background: #2563eb;
    color: white;
}

.git-btn{
    background: #2563eb;
    color: white;
}

.p-btn:hover{
    background: #38bdf8;
    color: #08111f;
}

.git-btn:hover{
    background: #38bdf8;
    color: #08111f;
}

/* Learning  */

.learning{
    padding: 80px 8%;
    text-align: center;
}



.l-container{
    max-width: 850px;
    margin: 45px auto 0;
}

.l-box{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    background: #101d30;
    border: 1px solid #1e3a5f;
    border-radius: 15px;
    transition: 0.3s ease;
}

.l-box:hover{
    transform: translateY(8px);
    border-color: #38bdf8;
}

.l-icon{
    min-width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #172b46;
    border-radius: 50%;
}

.l-icon i{
    font-size: 30px;
    color: #38bdf8;
}

.l-box h3{
    color: #38bdf8;
}

.l-box p{
    color: #a9b7c9;
    margin: 0;
}

/* Contact */

.contact{
    padding: 80px 8%;
    text-align: center;
}

.contact form{
    width: 100%;
    max-width: 600px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.contact input,
.contact textarea{
    width: 100%;
    padding: 14px;
    background: #101d30;
    color: white;
    border: 1px solid #1e3a5f;
    border-radius: 8px;
    outline: none;
    
}



.contact input:focus,
.contact textarea:focus{
    border-color: #38bdf8;
    box-shadow: 0 0 10px rgba(56, 189, 248, 0.15); 
}


.contact textarea{
    height: 150px;
    resize: none;
}

.contact button{
    padding: 13px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

.contact button:hover{
   transform: translateY(-4px);
   background: #38bdf8;
   color: #08111f;
   box-shadow: 0 8px 20px rgba(56, 189, 248, 0.4);
}

/* Footer */

footer{
    margin-top: 50px;
    padding: 40px 20px;
    text-align: center;
    background: #050b18;
    border-top: 1px solid #1e3a5f;
}

footer h2{
    color: white;
}

footer h2 span{
    color: #38bdf8;
}

footer p{
    color: #a9b7c9;
}

.f-icon{
    margin: 20px 0;
}

.f-icon a{
    color: #38bdf8;
    font-size: 25px;
    margin: 0 10px;
    transition: 0.3s ease;
}

.f-icon a:hover{
    text-shadow: 0 0 15px #38bdf8;
}

.right{
    font-size: 13px;
}





body.light{
    background: #f5f9ff;
    color: #08111f;
}

.light .navbar{
    background: white;
}

.light .nav-item a{
    color: #38bdf8;
}

.light .h-btn{
    background: #38bdf8;
}

.light .head1 h1,
.light .head1 h2{
    color: #08111f;
}


.light .head1 p,
.light .head2 p,
.light .projects-text,
.light .s-text,
.light .a-box p,
.light .service-card p,
.light .info p,
.light .l-box p{
    color: #475569;
}

.light .head1 i{
    color: #38bdf8;
}

.light #card1,
.light .p-card{
    background: white;
    border-color: #bfdbfe;
}

.light .p-btn{
    color: #bfdbfe;
    background-color: #38bdf8;
}

.light .a-box,
.light .s-card,
.light .service-card,
.light .p-card,
.light .l-box{
    background: white;
    border-color: #bfdbfe;
}

.light .progress{
    background: #e0f2fe;
}

.light .git-btn{
    background: #38bdf8;
}

.light .p-btn{
    color: white;
}


.light .tags span,
.light .l-icon{
    background: #e0f2fe;
}

.light .contact input,
.light .contact textarea{
    background: white;
    color: #08111f;
    border-color: #bfdbfe;
}

.light .contact button{
    background: #38bdf8;
}

.light footer{
    background: white;
    border-color: #bfdbfe;
}

.light footer h2{
    color: #08111f;
}

.light #darktheme{
    color: #38bdf8;
    transition: 0.3s;
}

.light #darktheme:hover{
    background: #e0f2fe;
    color: #0284c7;
    border-color: #0284c7;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(2, 132, 199, 0.3);
}



@media (max-width:480px) {

    .nav-item{
        margin-left: 0;
        text-align: center;
    }

    .navbar-nav .nav-link{
        margin: 5px 0;
    }

    #darktheme{
       margin: 10px auto;
       display: block;
    }    

    .back{
        width: 95%;
        display: block;
        text-align: center;
        min-height: auto;
    }

    .head1{
        width: 100%;
        margin-top: 40px;
        padding: 10px;
    }

    .head1 h1{
        font-size: 38px;
    }

    .head h2{
        font-size: 21px;
    }

    .head1 p{
        width: 100%;
        font-size: 14px;
    }

    .h-button{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .h-btn{
        margin-right: 0;
    }



    .head1 i{
        font-size: 30px;
        margin-top: 20px;
    }

    .image{
        width: 100%;
        margin-top: 20px;
    }

    .image img{
        width: 100%;
        margin-top: 20px;
    }

    .head2 h1,
    .my,
    .services h1,
    .learning h1,
    .contact h1{
        font-size: 42px;
    }

    .head2 p{
        width: 100%;
        margin-left: 0;
        font-size: 14px;
    }

    .about,
    #skills,
    .services,
    .projects,
    .learning,
    .contact{
       padding: 60px 15px;
    }

    .a-box,
    .s-card,
    .service-card,
    .p-card{
        width: 100%;
        min-width: 330px;
    }

    .l-box{
        align-items: flex-start;
    }


    .project-btn{
        flex-wrap: wrap;
    }

    .contact input,
    .contact textarea{
        width: 100%;
    }


    
}